<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" (keydown.enter)="onBack()" (keydown)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" src="assets/icon/bell.svg"></ion-icon>
      </ion-button>
      <ion-button color="dark">
        <ion-icon slot="icon-only" src="assets/icon/search.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="doctor-info-screen">
    <ion-card mode="ios" class="card-content">
      <ion-row class="row-content">
        <ion-col size="3">
          <img [src]="selectedPerson?.photoUrl || 'assets/images/avatar/default-avatar.png'" alt="Imagem Carregada" class="doc-cover" />
        </ion-col>
        <ion-col size="9">
          <div class="name-content">
            <ion-label class="type">{{ selectedPerson?.type_people?.type_people_name }}</ion-label>
            <ion-label class="name">{{ selectedPerson?.name_full }}</ion-label>
            <ion-label class="date">{{ selectedPerson?.birth_date | date }}</ion-label>
            <ion-label class="date">{{ selectedPerson?.cell_phone }}</ion-label>
            <ion-label class="text">{{ selectedPerson?.email }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <div class="more-btn">
      <div class="ion-activatable ripple-parent btn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="logo-whatsapp" color="light"></ion-icon>
      </div>
      <div class="ion-activatable ripple-parent btn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="logo-facebook" color="light"></ion-icon>
      </div>
      <div class="ion-activatable ripple-parent btn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="logo-instagram" color="light"></ion-icon>
      </div>
      <div class="ion-activatable ripple-parent btn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="barcode" color="light"></ion-icon>
      </div>
    </div>
    <ion-label class="main-title">Histórico:</ion-label>
    <ion-label class="desc"> Stulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant eadem ille sanabat. </ion-label>
    <ion-label class="desc"> Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam. </ion-label>
    <ion-label class="main-title">Membro:</ion-label>
    <ion-label class="desc">Desde 23 de Março de 2012</ion-label>
    <ion-label class="main-title">Ministério:</ion-label>
    <ion-label class="desc">Consagrado a Diácono em 23 de Novembro de 2013</ion-label>
    <ion-label class="desc">Consagrado a Presbítero em 25 de Novembro de 2023</ion-label>
    <ion-label class="main-title">Endereço:</ion-label>
    <ion-label class="desc">Rua Manoel Olímpio de Ceias, 27, Outeiro - Araruama - RJ</ion-label>
    <img src="assets/images/images/map.jpg" alt="Mapa de localização" class="location-img">
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" shape="round" color="primary" (click)="selectedPerson && onEditProfile(selectedPerson)" (keydown.enter)="selectedPerson && onEditProfile(selectedPerson)"> Editar </ion-button>
  </ion-toolbar>
</ion-footer>
