<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Doctor-Appointment - 1 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Help Centre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="help-centre-screen">
    <ion-card mode="ios" class="top-card-content">
      <ion-row class="row-content">
        <ion-col size="9">
          <ion-label class="title">
            Have a Query Related to your Bookings or Your Previous Concerns?
          </ion-label>
          <ion-label class="sub-title">
            Login to Your Account?
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/images/technical-support.png" alt="" class="img">
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-label class="main-title">Other Topics:</ion-label>

    <ion-card mode="ios" class="extra-btn">
      <ion-row class="row-content">
        <ion-col size="11">
          <ion-label class="title">New Doctor Appointment Help</ion-label>
          <ion-label class="sub-title">Bus Availability / Child Fare / Luggage Policy</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card mode="ios" class="extra-btn">
      <ion-row class="row-content">
        <ion-col size="11">
          <ion-label class="title">Technical Issues</ion-label>
          <ion-label class="sub-title">Need some Technical Help Issues</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card mode="ios" class="extra-btn">
      <ion-row class="row-content">
        <ion-col size="11">
          <ion-label class="title">Doqtec Reterral Help</ion-label>
          <ion-label class="sub-title">Need Help with Doqtec Referral Program</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card mode="ios" class="extra-btn">
      <ion-row class="row-content">
        <ion-col size="11">
          <ion-label class="title">Offers?</ion-label>
          <ion-label class="sub-title">Need Help with Offer?</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card mode="ios" class="extra-btn">
      <ion-row class="row-content">
        <ion-col size="11">
          <ion-label class="title">Doqtec Wallet Help?</ion-label>
          <ion-label class="sub-title">Need any Help with Doqtec Wallets?</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>
</ion-content>