<!-- user-details.page.html -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Editar Usuário' : 'Novo Usuário' }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="edit-profile-screen">
    <ion-label position="inline" class="lbl">Nome <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="text" placeholder="Digite seu nome" [(ngModel)]="user.name"></ion-input>
    </ion-item>


    <ion-label position="inline" class="lbl">Email <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="email" placeholder="Digite seu Email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-label position="inline" class="lbl">Senha <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="password" placeholder="Digite sua senha" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-label position="inline" class="lbl">Confirmar Senha <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="password" placeholder="Confirme sua senha" [(ngModel)]="user.password"></ion-input>
    </ion-item>


    <!-- “Campo” que abre o picker -->
    <!-- <ion-label class="lbl" position="inline">Papel</ion-label>
    <ion-item lines="none" class="item-content" button detail (click)="openRolePicker()">
      <ion-label>
        <div>{{ user.role?.name || 'Selecione um papel' }}</div>
        <ion-note *ngIf="user.role?.description">{{ user.role?.description }}</ion-note>
      </ion-label>
      <ion-badge *ngIf="user?.role?.name as roleName" [color]="roleColor(roleName)">
        {{ roleName }}
      </ion-badge>

    </ion-item> -->

    <ion-item lines="none" class="item-content" button detail (click)="openRolePicker()">
      <ion-label>
        <div>{{ selectedRoleName || 'Selecione um papel' }}</div>
        <ion-note *ngIf="user?.role?.description">{{ user.role?.description }}</ion-note>
      </ion-label>
      <ng-container *ngIf="selectedRoleName as roleName">
        <ion-badge [color]="roleColor(roleName)">{{ roleName }}</ion-badge>
      </ng-container>
    </ion-item>


    <!-- Modal controlado por boolean -->
    <ion-modal [isOpen]="roleModalOpen" (didDismiss)="roleModalOpen = false" [initialBreakpoint]="0.75"
      [breakpoints]="[0,0.5,0.75,1]">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Selecionar papel</ion-title>
            <!-- FECHAR agora COMMITA a seleção -->
            <ion-buttons slot="end">
              <ion-button (click)="closeRolePicker(true)">Fechar</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-toolbar>
            <ion-searchbar placeholder="Buscar papel..." debounce="200"
              (ionInput)="onRoleSearch($event)"></ion-searchbar>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <ion-radio-group [value]="tempSelectedRoleId" (ionChange)="onRoleRadioChange($event)">
              <!-- Toque no item já CONFIRMA e fecha -->
              <ion-item *ngFor="let r of rolesFiltered; trackBy: trackRole" (click)="confirmRolePicker(r.id)">
                <ion-radio slot="start" [value]="r.id"></ion-radio>
                <ion-label>
                  <div class="role-row">
                    <strong>{{ r.name }}</strong>
                    <ion-badge [color]="roleColor(r.name)">{{ r.name }}</ion-badge>
                  </div>
                  <ion-note *ngIf="r.description">{{ r.description }}</ion-note>
                </ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-content>

        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="closeRolePicker(false)">Cancelar</ion-button>
              <ion-button [disabled]="tempSelectedRoleId == null" (click)="confirmRolePicker()">Selecionar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>

  </div>
  <!-- Botões -->
  <div class="ion-padding-top">
    <ion-button expand="block" (click)="save()">Salvar</ion-button>
    <ion-button expand="block" fill="clear" color="medium" (click)="onBack()">Cancelar</ion-button>
  </div>
</ion-content>
