<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Esqueceu sua senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="reset-password-screen">
    <div class="box-content" *ngIf="active == 1">
      <ion-label class="title">Digite seu e-mail e as instruções serão enviadas para você!</ion-label>

      <ion-label position="inline" class="lbl">E-mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-item lines="none" class="item-content">
        <ion-input type="email" placeholder="Digite seu e-mail"></ion-input>
      </ion-item>


      <!-- <ion-label position="inline" class="lbl">Via SMS <ion-text color="danger">*</ion-text></ion-label>
      <ion-item lines="none" class="item-content">
        <ion-label class="phone-lbl">+91</ion-label>
        <ion-input type="number" placeholder="Enter Your Number"></ion-input>
      </ion-item> -->

      <ion-button (click)="sendOTP()" expand="block" fill="solid" shape="round" color="primary" class="login-btn">
        Enviar
      </ion-button>
    </div>

    <!-- <div class="box-content" *ngIf="active == 2">
      <ion-label class="title">We’re Send you The Verification Code on (+91) 518-844-2253</ion-label>

      <div class="otp-content">
        <ng-otp-input
          [config]="{length:4,inputStyles:{'width': '50px','height': '50px','border':'1px solid lightgray','background-color':'white'},placeholder:'0'}"></ng-otp-input>
      </div>

      <ion-button (click)="onVerify()" expand="block" fill="solid" shape="round" color="primary" class="login-btn">
        Verificar OTP
      </ion-button>

      <ion-label class="resend">Reenviar código? em<span class="active">00:30</span></ion-label>
    </div> -->

    <div class="box-content" *ngIf="active == 3">
      <ion-label class="title">Insira seu endereço de e-mail para solicitar uma redefinição de senha.</ion-label>

      <ion-label position="inline" class="lbl">Nova Senha<ion-text color="danger">*</ion-text></ion-label>
      <ion-item lines="none" class="item-content">
        <ion-input type="password" placeholder="Digite sua senha"></ion-input>
      </ion-item>


      <ion-label position="inline" class="lbl">Confirmar Senha <ion-text color="danger">*</ion-text></ion-label>
      <ion-item lines="none" class="item-content">
        <ion-input type="password" placeholder="Digite novamente a senha"></ion-input>
      </ion-item>

      <ion-button (click)="onBack()" expand="block" fill="solid" shape="round" color="primary" class="login-btn">
       Atualizar Senha
      </ion-button>
    </div>
  </div>
</ion-content>
