<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Esqueceu sua senha</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="reset-password-screen">
    <div class="box-content" *ngIf="active == 1">
      <ion-label class="title">Digite seu e-mail e as instruções serão enviadas para você!</ion-label>
      <form [formGroup]="resetForm" (ngSubmit)="sendOTP()">
        <ion-label position="inline" class="lbl">E-mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-item lines="none" class="item-content">
          <ion-input type="email" placeholder="Digite seu e-mail" formControlName="email"></ion-input>
          </ion-item>
        <ion-button type="submit" expand="block" fill="solid" shape="round" color="primary" class="login-btn" [disabled]="resetForm.invalid"> Enviar </ion-button>
        </form>
    </div>
    <!-- Outras seções omitidas para simplicidade -->
    <div class="box-content" *ngIf="active == 3">
      <ion-label class="title">Insira seu endereço de e-mail para solicitar uma redefinição de senha.</ion-label>
      <ion-label position="inline" class="lbl">Nova Senha<ion-text color="danger">*</ion-text></ion-label>
      <ion-item lines="none" class="item-content">
        <ion-input type="password" placeholder="Digite sua senha"></ion-input>
      </ion-item>
      <ion-label position="inline" class="lbl">Confirmar Senha <ion-text color="danger">*</ion-text></ion-label>
      <ion-item lines="none" class="item-content">
        <ion-input type="password" placeholder="Digite novamente a senha"></ion-input>
      </ion-item>
      <ion-button (click)="onBack()" expand="block" fill="solid" shape="round" color="primary" class="login-btn"> Atualizar Senha </ion-button>
    </div>
  </div>
</ion-content>
