<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Search Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="search-screen">
    <div class="logo-content">
      <img src="assets/images/images/logo.png" alt="" class="img">
      <ion-label class="title">Member of Kingdom</ion-label>
    </div>

    <div class="input-content">
      <ion-item lines="none" class="item-content">
        <ion-input type="text" placeholder="Select Area"></ion-input>
        <ion-icon slot="end" src="assets/icon/location.svg" color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="item-content">
        <ion-input type="text" placeholder="Specilifies Doctor"></ion-input>
        <ion-icon slot="end" src="assets/images/tabs/doctors.svg" color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="item-content">
        <ion-input type="text" placeholder="Date & Time"></ion-input>
        <ion-icon slot="end" src="assets/images/tabs/calendar.svg" color="medium"></ion-icon>
      </ion-item>

      <ion-button expand="block" fill="solid" shape="round" color="primary" class="search-btn" (click)="onDoctorList()">
        Search
      </ion-button>
    </div>

    <div class="main-title">
      <ion-label class="title">Top Doctors</ion-label>
      <ion-label class="sub-title">See All</ion-label>
    </div>

    <div class="doc-list">
      <ion-row class="ion-activatable ripple-parent docs-items" *ngFor="let item of util.doctorsList;let i = index;"
        (click)="onDoctorInfo(item.name)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-col size="3">
          <div class="doc-cover" [ngStyle]="{'background-image': 'url('+item.image+')'}"></div>
        </ion-col>
        <ion-col size="9">
          <ion-label class="name"> {{item.name}} </ion-label>
          <ion-label class="type"> {{item.cate_name}} </ion-label>
          <div class="rates">
            <ion-icon slot="icon-only" name="star" color="warning"></ion-icon>
            <ion-icon slot="icon-only" name="star" color="warning"></ion-icon>
            <ion-icon slot="icon-only" name="star" color="warning"></ion-icon>
            <ion-icon slot="icon-only" name="star" color="warning"></ion-icon>
            <ion-icon slot="icon-only" name="star-outline" color="dark"></ion-icon>
            <ion-label class="lbl">(52{{i+1}})</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
