
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="dark">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="success-payment-screen">
    <img src="assets/images/images/shield.gif" alt="" class="img">
    <ion-label class="title">Payment Success</ion-label>
    <ion-label class="sub-title">Your Appointment Booking Successfully Completed. <span class="active">Dr.Jaime M.
        Mercado</span> on Dec 24, at 10:00AM</ion-label>

    <div class="break"></div>
    <ion-row class="row-bottom">
      <ion-col size="6">
        <div class="data-content">
          <ion-icon name="person-circle-outline" color="dark"></ion-icon>
          <ion-label class="lbl">John K. Cannery</ion-label>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="data-content">
          <ion-icon name="calendar-outline" color="dark"></ion-icon>
          <ion-label class="lbl">₹33.33</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-label class="lbl-bottom">Will Message You Soon.</ion-label>
  </div>
</ion-content>
