
<ion-tabs (ionTabsDidChange)="change($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true"
        [src]="active == 'home' ? 'assets/images/tabs/home_active.svg':'assets/images/tabs/home.svg' "></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="doctors">
      <ion-icon aria-hidden="true"
        [src]="active == 'doctors' ? 'assets/images/tabs/doctors_active.svg':'assets/images/tabs/doctors.svg' "></ion-icon>
      <ion-label>Doctors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="people">
      <ion-icon aria-hidden="true"
        [src]="active == 'people' ? 'assets/images/tabs/calendar_active.svg':'assets/images/tabs/calendar.svg' "></ion-icon>
      <ion-label>Pessoas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true"
        [src]="active == 'profile' ? 'assets/images/tabs/category_active.svg':'assets/images/tabs/category.svg' "></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
