
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>
      <ion-label class="call-title">Dr. Elaine D. Smith</ion-label>
      <ion-label class="call-duration">25:33 Min</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="video-call-screen">
    <img src="assets/images/avatar/2.jpg" alt="" class="img">
    <div class="call-btn">
      <div class="ion-activatable ripple-parent btn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="mic" color="dark"></ion-icon>
      </div>

      <div class="ion-activatable ripple-parent btn-red">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="caret-down-outline" color="light"></ion-icon>
      </div>

      <div class="ion-activatable ripple-parent btn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon name="videocam" color="dark"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
