<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-register-screen">
    <div class="logo-content">
      <img src="assets/images/images/logo-member-of-kingdom.png" alt="" class="img">
      <!-- <ion-label class="title">Member of Kingdom</ion-label> -->
    </div>

    <div class="login-content">
      <!-- Formulário de Login -->
      <form [formGroup]="signinForm" (ngSubmit)="signIn()">
        <!-- Campo de E-mail -->
        <ion-label position="inline" class="lbl">E-mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-item lines="none" class="item-content" [class.invalid]="isEmailInvalid()">
          <ion-input type="email" formControlName="email" placeholder="Digite seu E-mail"></ion-input>
        </ion-item>
        <!-- Mensagem de Erro para E-mail -->
        <ion-text color="danger" *ngIf="isEmailInvalid()">Por favor, insira um e-mail válido.</ion-text>

        <!-- Campo de Senha -->
        <ion-label position="inline" class="lbl">Senha <ion-text color="danger">*</ion-text></ion-label>
        <ion-item lines="none" class="item-content" [class.invalid]="isPasswordInvalid()">
          <ion-input [type]="passwordView ? 'text' : 'password'" formControlName="password" placeholder="Digite sua senha"></ion-input>
          <ion-icon slot="end" [name]="passwordView ? 'eye-off-outline' : 'eye-outline'" (click)="togglePasswordView()" color="medium"></ion-icon>
        </ion-item>
        <!-- Mensagem de Erro para Senha -->
        <ion-text color="danger" *ngIf="isPasswordInvalid()">Senha é obrigatória.</ion-text>

        <!-- <ion-label class="reset-password" (click)="onResetPassword()">Esqueceu sua senha?</ion-label> -->

        <!-- Botão de Enviar -->
        <ion-button expand="block" fill="solid" shape="round" class="login-btn" color="primary" type="submit" [disabled]="signinForm.invalid">
          Entrar
        </ion-button>
      </form>

      <!-- <ion-label class="or-lbl">Ou Continue com</ion-label> -->

      <!-- <ion-row class="social-btn">
        <ion-col size="6">
          <ion-button expand="block" fill="solid" shape="round" color="light" (click)="onHome()">
            <ion-icon slot="start" name="logo-google" color="danger"></ion-icon>
            Google
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" fill="solid" shape="round" color="light" (click)="onHome()">
            <ion-icon slot="start" name="logo-apple" color="dark"></ion-icon>
            Apple
          </ion-button>
        </ion-col>
      </ion-row> -->

      <!-- <ion-label class="bottom-lbl" (click)="onRegister()">
        Não tem uma conta? <span class="active">Inscreva-se</span>
      </ion-label> -->
    </div>
  </div>
</ion-content>
