<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-title>{{ people ? 'Editar Pessoa' : 'Adicionar Pessoa' }}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- Certifique-se de que o formulário está utilizando formGroup -->
  <form [formGroup]="addPersonForm" (ngSubmit)="onSubmit()">
    <div class="edit-profile-screen">
      <!-- Exibir Foto Capturada -->
      <!-- Ícones para captura de foto e upload de arquivo -->
      <div class="upload-options">
        <!-- Ícone para capturar foto com a câmera -->
        <ion-button fill="clear" (click)="capturePhoto()">
          <ion-icon name="camera-outline"></ion-icon> <!-- Ícone da câmera -->
        </ion-button>
        <!-- Ícone para fazer upload de imagem do dispositivo -->
        <ion-button fill="clear" (click)="selectFromGallery()">
          <ion-icon name="cloud-upload-outline"></ion-icon> <!-- Ícone de upload -->
        </ion-button>
      </div>
      <!-- Exibe a imagem carregada -->
      <div *ngIf="imageUrl" class="image-preview">
        <img [src]="imageUrl" alt="Imagem Carregada" class="user-cover" />
      </div>

      <ion-item lines="none" class="item-content">
        <ion-label position="floating" class="lbl">Tipo de Pessoa</ion-label>
        <ion-select formControlName="type_people_id">
          <ion-select-option *ngFor="let typePeople of typePeopleList" [value]="typePeople.uuid_type_people">
            {{ typePeople.type_people_name }}
          </ion-select-option>
          </ion-select>
          </ion-item>
          <!-- Seleção de Igreja -->
          <ion-item lines="none" class="item-content">
            <ion-label position="floating" class="lbl">Igreja</ion-label>
            <ion-select formControlName="church_id">
              <ion-select-option *ngFor="let church of churchesList" [value]="church.uuid_church">
                {{ church.church_abbreviation }} - {{ church?.district }}
          </ion-select-option>
        </ion-select>
        </ion-item>
      <!-- Campo de Nome -->
      <ion-item lines="none" class="item-content">
        <ion-label position="floating" class="lbl">Nome <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="name_full" type="text"></ion-input>
      </ion-item>
      <!-- Campo de Seleção de Sexo -->
      <ion-item lines="none" class="item-content">
        <ion-label position="floating" class="lbl">Sexo</ion-label>
        <ion-select formControlName="gender">
          <ion-select-option value="m">Masculino</ion-select-option>
          <ion-select-option value="f">Feminino</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Campo de Telefone -->
      <ion-item lines="none" class="item-content">
        <ion-label position="floating" class="lbl">Telefone</ion-label>
        <ion-input formControlName="cell_phone" placeholder="(XX)xxxx-xxxx"></ion-input>
      </ion-item>
      <!-- Campo de Data de Nascimento -->
      <ion-item lines="none" class="item-content">
        <ion-label position="floating" class="lbl">Data de Nascimento</ion-label>
        <ion-input formControlName="birth_date" type="date" required></ion-input>
      </ion-item>
    </div>
    <!-- Footer com Botão de Submissão -->
    <ion-button type="submit" expand="block" fill="solid" shape="round" color="primary">{{ people ? 'Atualizar' : 'Salvar' }}</ion-button>
  </form>
</ion-content>
