<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-title>Lista de Pessoas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddPersonPage()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="ios" color="light">
    <ion-searchbar placeholder="Nome" inputmode="text" type="text" mode="ios" (ionInput)="onSearch($event)" debounce="1000"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="appointments-screen">
    <ion-card mode="ios" class="ion-activatable ripple-parent card-content" *ngFor="let people of peopleList; let i = index;" (click)="onPersonInfo(people)">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-row class="row-content">
        <ion-col size="3">
          <img [src]="people.photoUrl" alt="Imagem Carregada" class="doc-cover" />
          <div class="name-content">
            <div class="status">
              <span *ngIf="people.type_people?.type_people_name === 'Membro'" class="green">Membro</span>
              <span *ngIf="people.type_people?.type_people_name === 'Visitante'" class="yello">Visitante</span>
            </div>
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="name-content">
            <ion-label class="name"> {{ people.name_full }} </ion-label>
            <ion-label class="type"> {{ (people.cell_phone ?? '') | phone}} </ion-label>
            <ion-label class="date"> {{ (people.birth_date ?? '') | formatDate }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePeople($event)" *ngIf="hasMorePeople">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
