<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-title>Lista de Pessoas</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios" color="light">
    <ion-searchbar placeholder="Name, Categories" inputmode="text" type="text" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="appointments-screen">
    <ion-card mode="ios" class="ion-activatable ripple-parent card-content" *ngFor="let person of peopleList; let i = index;" (click)="onPersonInfo(person)">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-row class="row-content">
        <ion-col size="3">
          <div class="person-photo" [ngStyle]="{'background-image': 'url(' + getAvatarUrl(person)  + ')'}"></div>
          <div class="name-content">
            <div class="status">
              <span *ngIf="i % 2 != 0" class="green">Membro</span>
              <span *ngIf="i % 2 == 0" class="yello">Visitante</span>
            </div>
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="name-content">
            <ion-label class="name"> {{ person.name_full }} </ion-label>
            <ion-label class="type"> {{ (person.cell_phone ?? '') | phone}} </ion-label>
            <ion-label class="date"> {{ (person.birth_date ?? '') | formatDate }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>