<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="edit-profile-screen">
    <div class="profile-content">
      <div [ngStyle]="{'background-image': 'url(assets/images/avatar/2.jpg)'}" class="user-cover"></div>
    </div>
    <ion-label position="inline" class="lbl">Nome <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="text" placeholder="Digite seu nome" [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-label position="inline" class="lbl">Email <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="text" placeholder="Digite seu email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <!-- <ion-label position="inline" class="lbl">Full Name <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="text" placeholder="Enter Your Name"></ion-input>
    </ion-item>

    <ion-label position="inline" class="lbl">Phone Number <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="text" placeholder="Enter Your Phone Number"></ion-input>
    </ion-item> -->
    <!-- <ion-label position="inline" class="lbl">Location <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="text" placeholder="Los Angeles, CA"></ion-input>
    </ion-item> -->
    <ion-label position="inline" class="lbl">Sexo <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-select [(ngModel)]="user.sexo" placeholder="Selecione o sexo">
        <ion-select-option value="m">Masculino</ion-select-option>
        <ion-select-option value="f">Feminino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label position="inline" class="lbl">Data de Aniversário <ion-text color="danger">*</ion-text></ion-label>
    <ion-item lines="none" class="item-content">
      <ion-input type="date" placeholder="DD/MM/YYYY" [(ngModel)]="user.data_aniversario"></ion-input>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" shape="round" color="primary"> Salvar alterações </ion-button>
  </ion-toolbar>
</ion-footer>
