<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Doctor-Appointment - 1 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>My Appointments</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row class="appointment-segment">
      <ion-col size="6">
        <div (click)="onChange('upcoming')"
          [class]="active == 'upcoming' ? 'ion-activatable ripple-parent active' :'ion-activatable ripple-parent deactive'">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="lbl">Upcoming</ion-label>
        </div>
      </ion-col>
      <ion-col size="6">
        <div (click)="onChange('post')"
          [class]="active == 'post' ? 'ion-activatable ripple-parent active' :'ion-activatable ripple-parent deactive'">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="lbl">Post</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="appointments-screen">
    <div *ngIf="active == 'upcoming'">
      <ion-card mode="ios" class="ion-activatable ripple-parent card-content" (click)="onDetails()"
        *ngFor="let item of util.doctorsList;let i = index;">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-row class="row-content">
          <ion-col size="3">
            <div class="doc-cover" [ngStyle]="{'background-image': 'url('+item.image+')'}"></div>
          </ion-col>
          <ion-col size="9">
            <div class="name-content">
              <ion-label class="status">
                <span *ngIf="i % 2 != 0" class="green">Completed</span>
                <span *ngIf="i % 2 == 0" class="yello">Pending</span>
              </ion-label>
              <ion-label class="type"> {{util.diseasesList[i].name}} </ion-label>
              <ion-label class="name"> {{item.name}} </ion-label>
              <ion-label class="date">1{{i}} July {{i}}1:30 AM</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div *ngIf="active == 'post'">
      <ion-card mode="ios" class="ion-activatable ripple-parent card-content" (click)="onDetails()"
        *ngFor="let item of util.doctorsList;let i = index;">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-row class="row-content">
          <ion-col size="3">
            <div class="doc-cover" [ngStyle]="{'background-image': 'url('+item.image+')'}"></div>
          </ion-col>
          <ion-col size="9">
            <div class="name-content">
              <ion-label class="status">
                <span *ngIf="i % 2 != 0" class="green">Completed</span>
                <span *ngIf="i % 2 == 0" class="yello">Pending</span>
              </ion-label>
              <ion-label class="type"> {{util.diseasesList[i].name}} </ion-label>
              <ion-label class="name"> {{item.name}} </ion-label>
              <ion-label class="date">1{{i}} July {{i}}1:30 AM</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>